/*  DIRECTORY  */
main {
	margin: 0 auto;
	padding: 0.5rem;
	max-width: 700px;
	background-color: #fff;
	font-family: Acme, Arial, sans-serif;
}

/*  MENU  */
.buttons {
	padding: 1rem;
	text-align: center;
    justify-content: space-between;
}
.buttons button {
    padding: 1rem;
	font-weight: 700;
    border-radius: 10px;
}
div.buttons button.active {
    background-color: #f27d80;
}
.member-card section {
	border: 1px solid rgb(0 0 0 / 0.1);
	padding: 0.5rem;
	background-color: #ddd;
}
.buttons section h3 {
	font-size: 1.5rem;
}

.member-card section a {
	font-family: Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
}


/*  GRID  */
.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 5px;
	align-items: center;
}
.grid section {
	text-align: center;
}
.grid img {
    width: 100%;
    height: auto;
    border-radius: 10px;
	border: 1px solid #fff;
    padding: 0;
    margin: 0;
}
.grid section > * {
	margin: 0.1rem;
}
.grid h3 {
	font-size: 1.2rem;
}


/*  LIST  */
.list {
	display: flex;
	flex-direction: column;
}
.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}
.list section > * {
	margin: 0 1rem;
}
.list section img {
	display: none; /* smaller viewports only */
}
.list section h3 {
	font-size: 1rem;
}
.list section:nth-child(even) {
	background-color: #bbb;
}


/*  SMALL VERSION  */
@media (max-width: 728px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    h1 {
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 500;
        color: var(--text-color);
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        margin: 1rem;
        padding: 2rem;
    }
}