/* Small screen styles */
@media (max-width: 320px) {
    main {
        grid-template-columns: 1fr;
    }
    .resources {
        grid-template-columns: 1fr;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        margin: 5px 0;
    }
    .profile_info {
        grid-template-columns: 1fr;
    }
    
}